<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
</head>
<body>
	<a href="/new"><button type="button">新規投稿</button> </a>

	<form th:action="@{./}", th:method='get'>
		日付：<input type="date" name="start" th:value="${start}" /> ～<input
			type="date" name="end" th:value="${end}" /> <input type="submit"
			value="絞込" />

	<table border="1">
		<tr>
			<th>ID</th>
			<th>内容</th>
			<th>投稿日時</th>
		</tr>
		<tr th:each="content : ${contents}">
			<td th:text="${content.id}">
			<td th:text="${content.content}">
			<td th:text="${content.created}">
			<td><form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
					<input type="submit" value="削除" />
				</form>
			</td>
			<td>
				<a th:href="@{/edit/{id}(id=${content.id})}">
				<button type="button">編集</button></a>
			</td>
			<td>
				<a th:href="@{/newComment/{id}(id=${content.id})}">
				<button type="button">コメントする</button></a>
			</td>
		</tr>
	</table>

	<table border="1">
		<tr>
			<th>投稿ID</th>
			<th>コメント</th>
		</tr>
		<tr th:each="comment : ${comments}">
			<td th:text="${comment.reportId}">
			<td th:text="${comment.content}">
			<td><form th:action="@{/deleteComment/{id}(id=${comment.id})}" th:method="delete">
					<input type="submit" value="削除" />
				</form>
			</td>
			<td>
				<a th:href="@{/editComment/{id}(id=${comment.id})}">
				<button type="button">コメント編集</button></a>
			</td>
		</tr>
	</table>

</body>
</html>